# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

.idea
.vscode
/src/code/serveur/Flask
/src/code/serveur/app/__pycache__
/src/code/serveur/app/user.db