{% extends "index.html" %}

{% block body %}
    <div class="presentation">
        <h2>Projet web service : Modification d'image</h2>
        <ul>
            <p>Bonjour et bienvenue sur notre web service de modification d'images.
                <br>C'est un projet proposé par monsieur SALAS Daniel, responsable de l'UCE Processus du développement logiciel du M1 ILSEN à l'université Avignon.
                <br>Ce projet à été réalisé par :
                <ul>
                    <li><a href="https://github.com/Gregoire-Pierrot">Grégoire Pierrot</a></li>
                    <li><a href="https://github.com/IbrahimKakaevCERI">Ibrahim Kakaev</a></li>
                    <li><a href="https://github.com/Mouhamadou-Ahibou-DIALLO">Mouhamadou Ahibou DIALLO</a></li>
                    <li><a href="https://github.com/HamzaLATRACH8">Hamza Latrach</a></li>
                    <li><a href="https://github.com/tiagofdev">Tiago Feitosa</a></li>
                    <li><a href="https://github.com/EliasAhmadaye">Elias Ahmadaye Abdelkerim</a></li>
                </ul>
            </p>
        </ul>
        <ul>
            <p>Pour pouvoir utiliser ce service vous devez au préalable vous <a href="/register">créer un compte</a>. 
                Une fois celui fait vous pourez soit directement utiliser le service avec votre navigateur sur la page : <a href="/service">service</a> ou bien alors utilisé l'application disponible sur notre <a href="https://github.com/Gregoire-Pierrot/Editeur-d-image-web-service-">github</a>. 
                Pour pouvoir utiliser cette application vous devez générer un token sur la page : <a href="/token">token</a>. Attention celui ne sera pas fournit à nouveau, vous devez donc le concerver. 
                Une fois cela fait il ne vous restera plus qu'a lancer l'application et y rentré votre token. Vous pourez ensuite modifier vos images comme vous le souhaitez dans la mesure de l'utilisation possible.
            </p>
        </ul>
    </div>
{% endblock %}
