<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Editeur d'images</title>
        <link rel="stylesheet" href="{{url_for('static', filename='assets/css/style.css')}}">
        {% block css %}
        {% endblock %}
    </head>
    <body>
       <header>
            <h1 class="title"><a href="/">Editeur d'images</a></h1>
            <nav class="navigation">
                {% if username %}
                    <a href="{{url_for('service')}}">Modifier une image</a>
                    <a href="{{url_for('account')}}">{{username}}</a>
                {% else %}
                    <a href="/login">Connexion</a>
                {% endif %}

                {% if username %}
                    <a href="/logout">Se déconecter</a>
                {% else %}
                    <a href="/register">S'inscrire</a>
                {% endif %}
            </nav>
       </header>

       {% block body %}
       {% endblock %}

       {% block script %}
       {% endblock %}
    </body>
</html>